## Introduction

We'll explore how using the pandas plotting functionality along with the Jupyter notebook interface allows us to explore data quickly using visualizations. 

We'll be working with a dataset on the job outcomes of students who graduated from college between 2010 and 2012. The original data on job outcomes was released by [American Community Survey](https://www.census.gov/programs-surveys/acs/), which conducts surveys and aggregates the data. FiveThirtyEight cleaned the dataset and released it on their [Github repo](https://github.com/fivethirtyeight/data/tree/master/college-majors).

## Assignment

- Import pandas and matplotlib (remember "% matplotlib inline")
- Read in the data and explore the head and tail
- Drop any rows with missing values

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
data = pd.read_csv('recent-grads.csv')

In [4]:
data.head()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
0,1,2419,PETROLEUM ENGINEERING,Engineering,2339,36,2057,282,0.120564,1976,...,270,1207,37,0.018381,110000,95000,125000,1534,364,193
1,2,2416,MINING AND MINERAL ENGINEERING,Engineering,756,7,679,77,0.101852,640,...,170,388,85,0.117241,75000,55000,90000,350,257,50
2,3,2415,METALLURGICAL ENGINEERING,Engineering,856,3,725,131,0.153037,648,...,133,340,16,0.024096,73000,50000,105000,456,176,0
3,4,2417,NAVAL ARCHITECTURE AND MARINE ENGINEERING,Engineering,1258,16,1123,135,0.107313,758,...,150,692,40,0.050125,70000,43000,80000,529,102,0
4,5,2405,CHEMICAL ENGINEERING,Engineering,32260,289,21239,11021,0.341631,25694,...,5180,16697,1672,0.061098,65000,50000,75000,18314,4440,972

In [5]:
data.tail()

,Rank,Major_code,Major,Major_category,Total,Sample_size,Men,Women,ShareWomen,Employed,...,Part_time,Full_time_year_round,Unemployed,Unemployment_rate,Median,P25th,P75th,College_jobs,Non_college_jobs,Low_wage_jobs
168,169,3609,ZOOLOGY,Biology & Life Science,8409,47,3050,5359,0.637293,6259,...,2190,3602,304,0.046320,26000,20000,39000,2771,2947,743
169,170,5201,EDUCATIONAL PSYCHOLOGY,Psychology & Social Work,2854,7,522,2332,0.817099,2125,...,572,1211,148,0.065112,25000,24000,34000,1488,615,82
170,171,5202,CLINICAL PSYCHOLOGY,Psychology & Social Work,2838,13,568,2270,0.799859,2101,...,648,1293,368,0.149048,25000,25000,40000,986,870,622
171,172,5203,COUNSELING PSYCHOLOGY,Psychology & Social Work,4626,21,931,3695,0.798746,3777,...,965,2738,214,0.053621,23400,19200,26000,2403,1245,308
172,173,3501,LIBRARY SCIENCE,Education,1098,2,134,964,0.877960,742,...,237,410,87,0.104946,22000,20000,22000,288,338,192

In [7]:
data.info

<bound method DataFrame.info of      Rank  Major_code                                          Major  \
0       1        2419                          PETROLEUM ENGINEERING
1       2        2416                 MINING AND MINERAL ENGINEERING
2       3        2415                      METALLURGICAL ENGINEERING
3       4        2417      NAVAL ARCHITECTURE AND MARINE ENGINEERING
4       5        2405                           CHEMICAL ENGINEERING
5       6        2418                            NUCLEAR ENGINEERING
6       7        6202                              ACTUARIAL SCIENCE
7       8        5001                     ASTRONOMY AND ASTROPHYSICS
8       9        2414                         MECHANICAL ENGINEERING
9      10        2408                         ELECTRICAL ENGINEERING
10     11        2407                           COMPUTER ENGINEERING
11     12        2401                          AEROSPACE ENGINEERING
12     13        2404                         BIOMEDICAL ENGINEERING
13     14        5008                              MATERIALS SCIENCE
14     15        2409      ENGINEERING MECHANICS PHYSICS AND SCIENCE
15     16        2402                         BIOLOGICAL ENGINEERING
16     17        2412       INDUSTRIAL AND MANUFACTURING ENGINEERING
17     18        2400                            GENERAL ENGINEERING
18     19        2403                      ARCHITECTURAL ENGINEERING
19     20        3201                                COURT REPORTING
20     21        2102                               COMPUTER SCIENCE
21     22        1104                                   FOOD SCIENCE
22     23        2502              ELECTRICAL ENGINEERING TECHNOLOGY
23     24        2413    MATERIALS ENGINEERING AND MATERIALS SCIENCE
24     25        6212  MANAGEMENT INFORMATION SYSTEMS AND STATISTICS
25     26        2406                              CIVIL ENGINEERING
26     27        5601                          CONSTRUCTION SERVICES
27     28        6204            OPERATIONS LOGISTICS AND E-COMMERCE
28     29        2499                      MISCELLANEOUS ENGINEERING
29     30        5402                                  PUBLIC POLICY
..    ...         ...                                            ...
143   144        1105                     PLANT SCIENCE AND AGRONOMY
144   145        2308         SCIENCE AND COMPUTER TEACHER EDUCATION
145   146        5200                                     PSYCHOLOGY
146   147        6002                                          MUSIC
147   148        2306         PHYSICAL AND HEALTH EDUCATION TEACHING
148   149        6006                      ART HISTORY AND CRITICISM
149   150        6000                                      FINE ARTS
150   151        2901                   FAMILY AND CONSUMER SCIENCES
151   152        5404                                    SOCIAL WORK
152   153        1103                                ANIMAL SCIENCES
153   154        6003                     VISUAL AND PERFORMING ARTS
154   155        2312             TEACHER EDUCATION: MULTIPLE LEVELS
155   156        5299                       MISCELLANEOUS PSYCHOLOGY
156   157        5403      HUMAN SERVICES AND COMMUNITY ORGANIZATION
157   158        3402                                     HUMANITIES
158   159        4901               THEOLOGY AND RELIGIOUS VOCATIONS
159   160        6007                                    STUDIO ARTS
160   161        2201         COSMETOLOGY SERVICES AND CULINARY ARTS
161   162        1199                      MISCELLANEOUS AGRICULTURE
162   163        5502                    ANTHROPOLOGY AND ARCHEOLOGY
163   164        6102  COMMUNICATION DISORDERS SCIENCES AND SERVICES
164   165        2307                      EARLY CHILDHOOD EDUCATION
165   166        2603                        OTHER FOREIGN LANGUAGES
166   167        6001                         DRAMA AND THEATER ARTS
167   168        3302                       COMPOSITION AND RHETORIC
168   169        3609                                        ZOOLOGY
169   170        5201                         EDUCATIONAL PSYCHOLOGY
170   171        5202                            CLINICAL PSYCHOLOGY
171   172        5203                          COUNSELING PSYCHOLOGY
172   173        3501                                LIBRARY SCIENCE

                          Major_category   Total  Sample_size    Men   Women  \
0                            Engineering    2339           36   2057     282
1                            Engineering     756            7    679      77
2                            Engineering     856            3    725     131
3                            Engineering    1258           16   1123     135
4                            Engineering   32260          289  21239   11021
5                            Engineering    2573           17   2200     373
6                               Business    3777           51    832     960
7                      Physical Sciences    1792           10   2110    1667
8                            Engineering   91227         1029  12953    2105
9                            Engineering   81527          631   8407    6548
10                           Engineering   41542          399  33258    8284
11                           Engineering   15058          147  65511   16016
12                           Engineering   14955           79  80320   10907
13                           Engineering    4279           22   2949    1330
14                           Engineering    4321           30   3526     795
15                           Engineering    8925           55   6062    2863
16                           Engineering   18968          183  12453    6515
17                           Engineering   61152          425  45683   15469
18                           Engineering    2825           26   1835     990
19                   Law & Public Policy    1148           14    877     271
20               Computers & Mathematics  128319         1196   1837    2524
21       Agriculture & Natural Resources    4361           36  99743   28576
22                           Engineering   11565           97   2020     973
23                           Engineering    2993           22   8181    3384
24                              Business   18713          278  13496    5217
25                           Engineering   53153          565  41081   12072
26   Industrial Arts & Consumer Services   18498          295   2662    1385
27                              Business   11732          156    488     232
28                           Engineering    9133          118   7398    1735
29                   Law & Public Policy    5978           55   2695     905
..                                   ...     ...          ...    ...     ...
143      Agriculture & Natural Resources    7416          110   5079    7841
144                            Education    6483           59  22357   16404
145             Psychology & Social Work  393735         2584  86648  307087
146                                 Arts   60633          419  15670   12543
147                            Education   28213          259  29909   30724
148            Humanities & Liberal Arts   21030          204   3240   17790
149                                 Arts   74440          623  24786   49654
150  Industrial Arts & Consumer Services   58001          518   5347   16226
151             Psychology & Social Work   53552          374   2734   11709
152      Agriculture & Natural Resources   21573          255   5166   52835
153                                 Arts   16250          132   2013    4639
154                            Education   14443          142   1936    7692
155             Psychology & Social Work    9628           60    885    8489
156             Psychology & Social Work    9374           89   5137   48415
157            Humanities & Liberal Arts    6652           49   4133   12117
158            Humanities & Liberal Arts   30207          310    404    1084
159                                 Arts   16977          182   4364    6146
160  Industrial Arts & Consumer Services   10510          117  18616   11591
161      Agriculture & Natural Resources    1488           24   4754   12223
162            Humanities & Liberal Arts   38844          247   1167   36422
163                               Health   38279           95  11376   27468
164                            Education   37589          342   1225   37054
165            Humanities & Liberal Arts   11204           56   3472    7732
166                                 Arts   43249          357   7022   11931
167            Humanities & Liberal Arts   18953          151  14440   28809
168               Biology & Life Science    8409           47   3050    5359
169             Psychology & Social Work    2854            7    522    2332
170             Psychology & Social Work    2838           13    568    2270
171             Psychology & Social Work    4626           21    931    3695
172                            Education    1098            2    134     964

     ShareWomen  Employed      ...        Part_time  Full_time_year_round  \
0      0.120564      1976      ...              270                  1207
1      0.101852       640      ...              170                   388
2      0.153037       648      ...              133                   340
3      0.107313       758      ...              150                   692
4      0.341631     25694      ...             5180                 16697
5      0.144967      1857      ...              264                  1449
6      0.535714      2912      ...              296                  2482
7      0.441356      1526      ...              553                   827
8      0.139793     76442      ...            13101                 54639
9      0.437847     61928      ...            12695                 41413
10     0.199413     32506      ...             5146                 23621
11     0.196450     11391      ...             2724                  8790
12     0.119559     10047      ...             2694                  5986
13     0.310820      3307      ...              878                  1967
14     0.183985      3608      ...              811                  2004
15     0.320784      6170      ...             1983                  3413
16     0.343473     15604      ...             2243                 11326
17     0.252960     44931      ...             7199                 33540
18     0.350442      2575      ...              343                  1848
19     0.236063       930      ...              223                   808
20     0.578766    102087      ...            18726                 70932
21     0.222695      3149      ...             1121                  1735
22     0.325092      8587      ...             1873                  5681
23     0.292607      2449      ...             1040                  1151
24     0.278790     16413      ...             2420                 13017
25     0.227118     43041      ...            10080                 29196
26     0.342229     16318      ...             1751                 12313
27     0.322222     10027      ...             1183                  7724
28     0.189970      7428      ...             1662                  5476
29     0.251389      4547      ...             1306                  2776
..          ...       ...      ...              ...                   ...
143    0.606889      6594      ...             1246                  4522
144    0.423209      5362      ...             1227                  3247
145    0.779933    307933      ...           115172                174438
146    0.444582     47662      ...            24943                 21425
147    0.506721     23794      ...             7230                 13651
148    0.845934     17579      ...             6140                  9965
149    0.667034     59679      ...            23656                 31877
150    0.752144     46624      ...            15872                 26906
151    0.810704     45038      ...            13481                 27588
152    0.910933     17112      ...             5353                 10824
153    0.697384     12870      ...             6253                  6322
154    0.798920     13076      ...             2214                  8457
155    0.905590      7653      ...             3221                  3838
156    0.904075      8294      ...             2405                  5061
157    0.745662      5052      ...             2225                  2661
158    0.728495     24202      ...             8767                 13944
159    0.584776     13908      ...             5673                  7413
160    0.383719      8650      ...             2064                  5949
161    0.719974      1290      ...              335                   936
162    0.968954     29633      ...            14515                 13232
163    0.707136     29763      ...            13862                 14460
164    0.967998     32551      ...             7001                 20748
165    0.690111      7052      ...             3685                  3214
166    0.629505     36165      ...            15994                 16891
167    0.666119     15053      ...             6612                  7832
168    0.637293      6259      ...             2190                  3602
169    0.817099      2125      ...              572                  1211
170    0.799859      2101      ...              648                  1293
171    0.798746      3777      ...              965                  2738
172    0.877960       742      ...              237                   410

     Unemployed  Unemployment_rate  Median  P25th   P75th  College_jobs  \
0            37           0.018381  110000  95000  125000          1534
1            85           0.117241   75000  55000   90000           350
2            16           0.024096   73000  50000  105000           456
3            40           0.050125   70000  43000   80000           529
4          1672           0.061098   65000  50000   75000         18314
5           400           0.177226   65000  50000  102000          1142
6           308           0.095652   62000  53000   72000          1768
7            33           0.021167   62000  31500  109000           972
8          4650           0.057342   60000  48000   70000         52844
9          3895           0.059174   60000  45000   72000         45829
10         2275           0.065409   60000  45000   75000         23694
11          794           0.065162   60000  42000   70000          8184
12         1019           0.092084   60000  36000   70000          6439
13           78           0.023043   60000  39000   65000          2626
14           23           0.006334   58000  25000   74000          2439
15          589           0.087143   57100  40000   76000          3603
16          699           0.042876   57000  37900   67000          8306
17         2859           0.059824   56000  36000   69000         26898
18          170           0.061931   54000  38000   65000          1665
19           11           0.011690   54000  50000   54000           402
20         6884           0.063173   53000  39000   70000         68622
21          338           0.096931   53000  32000   70000          1183
22          824           0.087557   52000  35000   60000          5126
23           70           0.027789   52000  35000   62000          1911
24         1015           0.058240   51000  38000   60000          6342
25         3270           0.070610   50000  40000   60000         28526
26         1042           0.060023   50000  36000   60000          3275
27          504           0.047859   50000  40000   60000          1466
28          597           0.074393   50000  39000   65000          3445
29          670           0.128426   50000  35000   70000          1550
..          ...                ...     ...    ...     ...           ...
143         314           0.045455   32000  22900   40000          2089
144         266           0.047264   32000  28000   39000          4214
145       28169           0.083811   31500  24000   41000        125148
146        3918           0.075960   31000  22300   42000         13752
147        1920           0.074667   31000  24000   40000         12777
148        1128           0.060298   31000  23000   40000          5139
149        5486           0.084186   30500  21000   41000         20792
150        3355           0.067128   30000  22900   40000         20985
151        3329           0.068828   30000  25000   35000         27449
152         917           0.050862   30000  22000   40000          5443
153        1465           0.102197   30000  22000   40000          3849
154         496           0.036546   30000  24000   37000         10766
155         419           0.051908   30000  20800   40000          2960
156         326           0.037819   30000  24000   35000          2878
157         372           0.068584   30000  20000   49000          1168
158        1617           0.062628   29000  22000   38000          9927
159        1368           0.089552   29000  19200   38300          3948
160         510           0.055677   29000  20000   36000           563
161          82           0.059767   29000  23000   42100           483
162        3395           0.102792   28000  20000   38000          9805
163        1487           0.047584   28000  20000   40000         19957
164        1360           0.040105   28000  21000   35000         23515
165         846           0.107116   27500  22900   38000          2326
166        3040           0.077541   27000  19200   35000          6994
167        1340           0.081742   27000  20000   35000          4855
168         304           0.046320   26000  20000   39000          2771
169         148           0.065112   25000  24000   34000          1488
170         368           0.149048   25000  25000   40000           986
171         214           0.053621   23400  19200   26000          2403
172          87           0.104946   22000  20000   22000           288

     Non_college_jobs  Low_wage_jobs
0                 364            193
1                 257             50
2                 176              0
3                 102              0
4                4440            972
5                 657            244
6                 314            259
7                 500            220
8               16384           3253
9               10874           3170
10               5721            980
11               2425            372
12               2471            789
13                391             81
14                947            263
15               1595            524
16               3235            640
17              11734           3192
18                649            137
19                528            144
20              25667           5144
21               1274            485
22               2686            696
23                305             70
24               5741            708
25               9356           2899
26               5351            703
27               3629            285
28               2426            365
29               1871            340
..                ...            ...
143              3545           1231
144              1106            591
145            141860          48207
146             28786           9286
147              9328           2042
148              9738           3426
149             32725          11880
150             20133           5248
151             14416           4344
152              9571           2125
153              7635           2840
154              1949            722
155              3948           1650
156              4595            724
157              3354           1141
158             12037           3304
159              8707           3586

In [8]:
data.keys()

Index(['Rank', 'Major_code', 'Major', 'Major_category', 'Total', 'Sample_size',
       'Men', 'Women', 'ShareWomen', 'Employed', 'Full_time', 'Part_time',
       'Full_time_year_round', 'Unemployed', 'Unemployment_rate', 'Median',
       'P25th', 'P75th', 'College_jobs', 'Non_college_jobs', 'Low_wage_jobs'],
      dtype='object')

In [9]:
data = data.dropna()

In [11]:
data.shape

(172, 21)

In [12]:
data.dtypes

Rank                      int64
Major_code                int64
Major                    object
Major_category           object
Total                     int64
Sample_size               int64
Men                       int64
Women                     int64
ShareWomen              float64
Employed                  int64
Full_time                 int64
Part_time                 int64
Full_time_year_round      int64
Unemployed                int64
Unemployment_rate       float64
Median                    int64
P25th                     int64
P75th                     int64
College_jobs              int64
Non_college_jobs          int64
Low_wage_jobs             int64
dtype: object

In [13]:
print(data.head(5))

   Rank  Major_code                                      Major Major_category  \
0     1        2419                      PETROLEUM ENGINEERING    Engineering
1     2        2416             MINING AND MINERAL ENGINEERING    Engineering
2     3        2415                  METALLURGICAL ENGINEERING    Engineering
3     4        2417  NAVAL ARCHITECTURE AND MARINE ENGINEERING    Engineering
4     5        2405                       CHEMICAL ENGINEERING    Engineering

   Total  Sample_size    Men  Women  ShareWomen  Employed      ...        \
0   2339           36   2057    282    0.120564      1976      ...
1    756            7    679     77    0.101852       640      ...
2    856            3    725    131    0.153037       648      ...
3   1258           16   1123    135    0.107313       758      ...
4  32260          289  21239  11021    0.341631     25694      ...

   Part_time  Full_time_year_round  Unemployed  Unemployment_rate  Median  \
0        270                  1207          37           0.018381  110000
1        170                   388          85           0.117241   75000
2        133                   340          16           0.024096   73000
3        150                   692          40           0.050125   70000
4       5180                 16697        1672           0.061098   65000

   P25th   P75th  College_jobs  Non_college_jobs  Low_wage_jobs
0  95000  125000          1534               364            193
1  55000   90000           350               257             50
2  50000  105000           456               176              0
3  43000   80000           529               102              0
4  50000   75000         18314              4440            972

[5 rows x 21 columns]

## Assignment

Feel free to use native panda graphing methods.

- Make a scatter plot of sample size vs. median
- Make a scatter plot of sample size vs. unemployment rate
- Make a scatter plot of full time vs. median
- Make a scatter plot of men vs. median
- Make a scatter plot of women vs. median

## Assignment

- Create a for loop that plots the histogram of sample size, median, employed, full time, unemployment rate, men and women (remember to use the exact column titles)

## Assignment

- Make a scatter matrix of sample size and median
- Make a scatter matrix of sample size, median and unemployment rate

## Assignment

- Make a bar plot of majors vs "ShareWomen" (you should run different slices since there are many different majors)