## Data Analysis with pandas

We are going to examine data from the [Bangalore Open Data Repository](https://github.com/openbangalore/bangalore). Bangalore is the 3rd most populous city in India and widely regarded as the Silicon Valley of India.

### Task 1 - Load Data

- Read in the data to pandas
- Check the shape of the dataframe
- Check the summary statistics of the dataframe
- Change the row index to the "Year" column

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('bangalore_temparature.tsv', sep='\t')

In [3]:
data.head(2)

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1901,23.094,24.243,25.398,27.740,26.328,24.735,23.969,24.154,25.097,24.301,23.09,21.000
1,1902,21.588,22.930,26.277,27.442,27.118,25.477,24.428,25.019,23.940,23.759,22.79,22.184

In [4]:
data.shape

(102, 13)

In [5]:
data.describe()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
count,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000,102.000000
mean,1951.500000,22.122088,24.028069,26.375049,27.844608,27.108118,24.923186,23.985824,24.125373,24.347304,24.100167,22.882186,21.759961
std,29.588849,0.617820,0.732336,0.656179,0.558630,0.636558,0.547904,0.485182,0.373501,0.520555,0.458388,0.581238,0.554744
min,1901.000000,20.699000,22.145000,24.791000,26.725000,25.378000,23.621000,22.770000,23.090000,23.189000,22.838000,21.693000,20.648000
25%,1926.250000,21.768250,23.502250,25.965000,27.452000,26.691500,24.601000,23.620000,23.856000,23.977500,23.827000,22.438250,21.313000
50%,1951.500000,22.187000,24.074000,26.462500,27.899000,27.231000,24.932500,24.022500,24.080500,24.351000,24.149500,22.934500,21.826500
75%,1976.750000,22.476750,24.534000,26.748500,28.213750,27.579250,25.250750,24.293500,24.430250,24.685500,24.354000,23.234000,22.114250
max,2002.000000,23.530000,26.134000,28.048000,29.068000,28.272000,26.427000,25.190000,25.019000,25.869000,25.413000,24.478000,23.124000

In [6]:
data.index = data.Year

In [7]:
data.head(2)

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,,
1901,1901,23.094,24.243,25.398,27.740,26.328,24.735,23.969,24.154,25.097,24.301,23.09,21.000
1902,1902,21.588,22.930,26.277,27.442,27.118,25.477,24.428,25.019,23.940,23.759,22.79,22.184

### Task 2 - Initial Data Analysis

- (Chart) How does temperature vary over the year (X-axis is months)?
- (Chart) How does temperature vary over the years (X-axis is years)?
- Which months had the highest and lowest temperatures in 1960?
- What were the highest, lowest and mean values in 1960?
- Where were the highest, lowest and mean values in an arbitray year (hint: write a function)?
- Which months had the highest and lowest gains in temperature?
- Make a histogram, KDE plot and bar plot of the gains.

### Task 3 - Visualization

matplotlib
- Make a histogram for a particular month.
- Compare distributions for 2 months (histograms on subplots).
- Compare two years in the same histogram (use color coding).
- Define a function to compare two months in the same frame.
- Create a box plot for 1 month.
- Create a box plot for 2 months on 1 figure.
- Create a function that compares 2 months via boxplot.

seaborn
- Make a KDE plot of one month.
- Make a function that compares the KDE plots of 2 months.
- Compare the histogram and KDE plots of 2 months on the same figure.
- Create a Facetgrid version of the KDE plots. Loop through a months array.
- Create a violin plot for 1 month.
- Create a violin plot for 2 months on 1 figure.
- Create a function that compares 2 months via violin plot.

### Task 4 - Insight

- Visually represent the varying temperatures over the entire period.
- Find the coldest and warmest months for May over the entire period.